.vue-flow__controls {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
}

.vue-flow__controls-button {
  background: #fefefe;
  border: none;
  border-bottom: 1px solid #eee;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}

.vue-flow__controls-button svg {
  width: 100%;
  max-width: 12px;
  max-height: 12px;
}

.vue-flow__controls-button:hover {
  background: #f4f4f4;
}


.vue-flow__controls-button:disabled {
  pointer-events: none;
}

.vue-flow__controls-button:disabled svg {
  fill-opacity: 0.4;
}

.flow-container[data-v-85e4522e] {
  display: flex;
  height: 600px;
  width: 100%;
  background-color: #f5f5f5;
}
.config-panel[data-v-85e4522e] {
  width: 280px;
  /* background: #f5f5f5; */
  padding: 16px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.node-config-item[data-v-85e4522e] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}
.node-config-item input[data-v-85e4522e] {
  flex: 1;
  margin-right: 8px;
  padding: 4px 8px;
}
.vue-flow-wrapper[data-v-85e4522e] {
  flex: 1;
  position: relative;
}
button[data-v-85e4522e] {
  margin: 4px 0;
  padding: 6px 12px;
  cursor: pointer;
}
select[data-v-85e4522e] {
  width: 100%;
  margin: 4px 0;
  padding: 4px;
}
hr[data-v-85e4522e] {
  margin: 16px 0;
}
